
<!--------------------- Add jQuery -------------------->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<!--------------- Animate on Scroll ------------------->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!--------------- Slick Slider(only contact page uses) ------------------->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/25206862.js"></script>
<!-- End of HubSpot Embed Code -->

<!--SLick JavaScript path-->
<script src="/slick.js"></script>

<!-------------- custom javascript files -------------->
<script src="/scripts.js"></script> 