<section class="grid padded-lg bg-dark text-light">
    <h2 class="col-12 text-center"> Customer Love </h2>
    <div class="col-1 text-right"> 
        <span class="quote-icon"> “ </span>
    </div>
    <div class="col-10">
        <div class="testimonial-slider-container testimonial">
            <!------------Slide 1----------------->
            <div class="slider-item">
                <p class="about-intro padded-sm text-center">  It's not just a cafe; it's a personalised homely space. Exceptional service and a perfect cup of jcoffee every week, makes this place a gem in the heart of our community. Barista Joe, has my order ready, before i even open the door! </p>
                <h5 class="author">  - A Happy Guest, Jane </h5>
            </div>
             <!------------Slide 2----------------->
             <div class="slider-item">
                <p class="about-intro padded-sm text-center"> I go here all the time, and i recently got a free coffee scrub with my loyalty points! its the most brilliant idea ever! </p>
                <h5 class="author">  - A Happy Customer July </h5>
            </div>
             <!------------Slide 3----------------->
             <div class="slider-item">
                <p class="about-intro padded-sm text-center"> This is another review here, orum pariatur, quos nulla unde culpa magni est. Doloribus numquam aliquam reiciendis fugiat ex cumque eaque. Commodi itaque debitis voluptate consectetur accusamus ratione. Incredible. </p>
                <h5 class="author">  - Another delighted Visitor </h5>
            </div>
        </div>
    </div>
    <div class="col-1"> 
        <span class="quote-icon"> ” </span>
    </div>
</section>