
<footer class="grid-spaceAround padded padded-b-0">

    <div class="logo col-6-middle hide-sm"> 
        <h2> The Café Project </h2>
        <p class="text-lowercase"> The Street Name 999, Place </p>
    </div>

    <nav class="col-2_xs-6 xs-text-center xs-padded-1"> 
        <h4> The Café Project </h4>
        <a href="/menu.html"> Menu </a>
        <a href="/menu.about"> About </a>
        <a href="/contact.html"> Contact </a>
    </nav>
    <nav class="col-2_xs-6 xs-text-center xs-padded-1"> 
        <h4> Contact </h4>
        <a href="#"> Email </a>
        <a href="#"> Number </a>
        <a href="#"> Policies </a>
    </nav>

    <!-- Social links -->
    <div class="col-2_xs-12 xs-text-center xs-padded-05 xs-padded-b-0 social-links">
        <h4> Socials </h4>
        <nav> 
            <a href="#"> 
                <i class="fab fa-facebook"></i>         
            </a>
            <a href="#">
                <i class="fab fa-instagram-square"></i>
            </a>
        </nav>
    </div>

    <!--Copyright -->
    <div class="col-12 text-center xs-padded-05 italic padded-2">
        <p class="subtle"> © 2024 The Café Project | Website by Julita Creations Studio </p>

    </div> 

</footer>