
       <header class="grid padded-2">
            <div class="col-5_sm-11-middle sm-padded-b-0">
                <a href="/index.html">
                    <h1 class="logo"> The Café Project </h1>
                </a>
            </div>
            <nav class="col-7_sm-12-middle text-right mob-hide padded-05 sm-text-center">
                <a href="/index.html"> Home </a>
                <a href="/menu.html"> Menu </a>
                <a href="/about.html"> About </a>
                <a href="/contact.html"> Contact </a>
            </nav>
            <div class="col-1"> 
                <a class="hamburger-button mob-show right"> &#9776; </a>
            </div>
        </header>

        <!---Mobile menu hamburger button -->
        <div class="mobile-menu bg-light padded"> 
            <nav>
                <a href="/index.html"> Home </a>
                <a href="/menu.html"> Menu </a>
                <a href="/about.html"> About </a>
                <a href="/contact.html"> Contact </a>
            </nav>
        </div>