<!DOCTYPE html>
<html lang="en">

    <!--- This is the head of html where we add external recourses and metadata --->
    <head>

        {% include head.html %}

    </head>

    <body>
        <!-- Add the debugging code here -->
        <pre>{{ site.data.site-settings | jsonify }}</pre>


        {% include default-styles.html %}

        <!--- Header LOGO --->
        {% include site-header-nav.html %}


        {{ content }}




         <!--- Footer details ---------------->
        {% include site-footer.html %}



        {% include body-scripts.html %}

    </body>
</html>